*{
    padding: 0;
    margin: 0;
}
.card-text{
    
    justify-content:  space-between;
}
.imag-container > img{
       height: 20px;
}
.imag-morron > img{
    height: 40px;
    border-radius: 50%;
}
.imag-container{
    display: none;
}
.card-hover:hover .imag-container{
    display: block;
}

